body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    /* background-color: red; */
    border: 2px solid black;
    border-radius: 25%;
    margin: 2.5em;
}
.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: pink;
}